
/* Your CSS Code here. */

.holder{
	display: flex;
	justify-content: space-between;
}
.box-1{
	height: 100px;
	width: 100px;
	background-color: red;
	margin:5px;
	order:2;
}

.box-2{
	height: 100px;
	width: 100px;
	background-color: blue;
	margin:5px;
	order:1;
}
.box-3{
	height: 100px;
	width: 100px;
	background-color: green;
	margin:5px;
	
}
.box-4{
	height: 100px;
	width: 100px;
	background-color: green;
	margin:5px;
}
.box-5{
	height: 100px;
	width: 100px;
	background-color: green;
	margin:5px;
}
.box-6{
	height: 100px;
	width: 100px;
	background-color: green;
	margin:5px;
}
.box-7{
	height: 100px;
	width: 100px;
	background-color: green;
	margin:5px;
}